html,
body {
    position: relative;
    background-color: #E7E1D1;
    height: 100%;
    width: 100%;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

app,
input[type=text] {
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
}

app {
    height: 100%;
    width: 100%;
}

body.rotate {
    transform: rotate(90deg);
    transform-origin: left top;
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-thumb {
    background-color: #918973;
    border-radius: 30px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #7c7563;
}

button {
    font-weight: bold;
    cursor: pointer;
}

#dataPanel .box .dataContent button,
.sideBar .otherFunc button,
.petClass .petInfo .type.className .infoPanel .infoContent .diffInfo,
#loading .loadFailed button {
    transition: background-color.2s;
    background-color: #fff8e6;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    box-shadow: 0 1px 2px black;
    height: 30px;
}

#dataPanel .box .dataContent button:hover,
.sideBar .otherFunc button:hover,
.petClass .petInfo .type.className .infoPanel .infoContent .diffInfo:hover,
#loading .loadFailed button:hover {
    background-color: #e5decd;
}

#loading {
    font-family: "FontAwesome";
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #1F1F2D;
    z-index: 40;
}

#loading.hide {
    animation: loaded1 1s 0.7s forwards;
}

#loading.hide .center:first-child {
    animation: loaded2 1s 0.7s forwards;
}

body.rotate #loading .center {
    transform: scale(0.5) rotate(-90deg);
}

#loading .center {
    width: 100%;
    height: 100%;
    position: fixed;
    transform: scale(0.5);
}

#loading .center > div {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading .center .progress .box {
    position: relative;
    transform: scale(-1);
    height: 219px;
    left: 22px;
    bottom: 32px;
}

#loading .center .progress .box div {
    transition: height.5s;
    height: 0%;
    overflow: hidden;
}

#loading .center .progress .box div .finishProgress {
    transition: opacity.5s;
    position: absolute;
    transform: scale(1.5);
    opacity: 0;
    left: 0px;
    top: 18px;
}

#loading.finish .center .progress .box div .finishProgress {
    animation: finishProgress 0.9s;
}

#loading .center .leftTop2 img {
    position: relative;
    transform: scale(0) rotate(-10deg);
    transform-origin: right bottom;
    left: -110px;
    bottom: 250px;
}

#loading.finish .center .leftTop2 img {
    animation: finishLeaf 0.16s 0.16s forwards;
}

#loading .center .leftTop1 img {
    position: relative;
    transform: scale(0) rotate(-10deg);
    transform-origin: right bottom;
    left: -134px;
    bottom: 190px;
}

#loading.finish .center .leftTop1 img {
    animation: finishLeaf 0.16s 0.08s forwards;
}

#loading .center .left2 img {
    position: relative;
    transform: scale(0) rotate(-10deg);
    transform-origin: right bottom;
    left: -92px;
    bottom: 129px;
}

#loading.finish .center .left2 img {
    animation: finishLeaf 0.16s 0.16s forwards;
}

#loading .center .left1 img {
    position: relative;
    transform: scale(0) rotate(-10deg);
    transform-origin: right bottom;
    left: -48px;
    bottom: 107px;
}

#loading.finish .center .left1 img {
    animation: finishLeaf 0.16s 0.12s forwards;
}

#loading .center .top4 img {
    position: relative;
    transform: scale(0) rotate(-10deg);
    transform-origin: right bottom;
    left: 12px;
    bottom: 376px;
}

#loading.finish .center .top4 img {
    animation: finishLeaf 0.16s 0.12s forwards;
}

#loading .center .top3 img {
    position: relative;
    transform: scale(0) rotate(-10deg);
    transform-origin: right bottom;
    left: 16px;
    bottom: 250px;
}

#loading.finish .center .top3 img {
    animation: finishLeaf 0.16s 0.12s forwards;
}

#loading .center .top2 img {
    position: relative;
    transform: scale(0) rotate(-10deg);
    transform-origin: right bottom;
    left: 44px;
    bottom: 212px;
}

#loading.finish .center .top2 img {
    animation: finishLeaf 0.16s 0.08s forwards;
}

#loading .center .top1 img {
    position: relative;
    transform: scale(0) rotate(-10deg);
    transform-origin: right bottom;
    left: 65px;
    bottom: 161px;
}

#loading.finish .center .top1 img {
    animation: finishLeaf 0.16s 0.04s forwards;
}

#loading .center .rightTopLeaf3 img {
    position: relative;
    transform: scale(0) rotate(-10deg);
    transform-origin: left bottom;
    left: 199px;
    bottom: 227px;
}

#loading.finish .center .rightTopLeaf3 img {
    animation: finishLeaf 0.16s 0.16s forwards;
}

#loading .center .rightTopLeaf2 img {
    position: relative;
    transform: scale(0) rotate(-10deg);
    transform-origin: left bottom;
    left: 152px;
    bottom: 216px;
}

#loading.finish .center .rightTopLeaf2 img {
    animation: finishLeaf 0.2s 0.04s forwards;
}

#loading .center .rightTopLeaf1 img {
    position: relative;
    transform: scale(0) rotate(-10deg);
    transform-origin: left bottom;
    left: 129px;
    bottom: 161px;
}

#loading.finish .center .rightTopLeaf1 img {
    animation: finishLeaf 0.2s forwards;
}

#loading .center .rightLeaf img {
    position: relative;
    transform: scale(0) rotate(-10deg);
    transform-origin: left bottom;
    left: 139px;
    bottom: 46px;
}

#loading.finish .center .rightLeaf img {
    animation: finishLeaf 0.2s forwards;
}

#loading .center .flyLeaf8 img {
    position: relative;
    transform: scale(0) rotate(-50deg);
    left: -182px;
    bottom: 210px;
}

#loading.finish .center .flyLeaf8 img {
    animation: flyLeaf8 0.6s 0.3s forwards linear;
}

#loading .center .flyLeaf7 img {
    position: relative;
    transform: scale(0) rotate(-60deg);
    left: -123px;
    bottom: 199px;
}

#loading.finish .center .flyLeaf7 img {
    animation: flyLeaf7 0.6s 0.3s forwards linear;
}

#loading .center .flyLeaf6 img {
    position: relative;
    transform: scale(0) rotate(-50deg);
    left: -113px;
    bottom: 209px;
}

#loading.finish .center .flyLeaf6 img {
    animation: flyLeaf6 0.7s 0.2s forwards linear;
}

#loading .center .flyLeaf5 img {
    position: relative;
    transform: scale(0) rotate(-63deg);
    left: -124px;
    bottom: 256px;
}

#loading.finish .center .flyLeaf5 img {
    animation: flyLeaf5 0.7s 0.2s forwards linear;
}

#loading .center .flyLeaf4 img {
    position: relative;
    transform: scale(0) rotate(-57deg);
    left: -119px;
    bottom: 307px;
}

#loading.finish .center .flyLeaf4 img {
    animation: flyLeaf4 0.7s 0.2s forwards linear;
}

#loading .center .flyLeaf3 img {
    position: relative;
    transform: scale(0) rotate(30deg);
    left: -114px;
    bottom: 352px;
}

#loading.finish .center .flyLeaf3 img {
    animation: flyLeaf3 0.6s 0.2s forwards linear;
}

#loading .center .flyLeaf2 img {
    position: relative;
    transform: scale(0) rotate(-55deg);
    left: -26px;
    bottom: 366px;
}

#loading.finish .center .flyLeaf2 img {
    animation: flyLeaf2 0.6s 0.3s forwards linear;
}

#loading .center .flyLeaf1 img {
    position: relative;
    transform: scale(0) rotate(-60deg);
    left: 67px;
    bottom: 329px;
}

#loading.finish .center .flyLeaf1 img {
    animation: flyLeaf1 0.7s 0.2s forwards linear;
}

#loading .center .round19 img {
    position: relative;
    transform: scale(0);
    left: -65px;
    bottom: 142px;
}

#loading.finish .center .round19 img {
    animation: round19 1.2s 0.4s forwards linear;
}

#loading .center .round18 img {
    position: relative;
    transform: scale(0) rotate(0deg);
    transform-origin: top right;
    left: -63px;
    bottom: 251px;
}

#loading.finish .center .round18 img {
    animation: round18 1.1s 0.4s forwards linear;
}

#loading .center .round17 img {
    position: relative;
    transform: scale(0);
    left: -28px;
    bottom: 197px;
}

#loading.finish .center .round17 img {
    animation: round17 1.1s 0.5s forwards linear;
}

#loading .center .round16 img {
    position: relative;
    transform: scale(0);
    left: -18px;
    bottom: 121px;
}

#loading.finish .center .round16 img {
    animation: round16 1.4s 0.3s forwards linear;
}

#loading .center .round15 img {
    position: relative;
    transform: scale(0);
    left: -2px;
    bottom: 181px;
}

#loading.finish .center .round15 img {
    animation: round15 0.5s 0.6s forwards linear;
}

#loading .center .round14 img {
    position: relative;
    transform: scale(0);
    left: 4px;
    bottom: 147px;
}

#loading.finish .center .round14 img {
    animation: round14 1.4s 0.4s forwards linear;
}

#loading .center .round13 img {
    position: relative;
    transform: scale(0);
    left: 41px;
    bottom: 171px;
}

#loading.finish .center .round13 img {
    animation: round13 1.2s 0.3s forwards linear;
}

#loading .center .round12 img {
    position: relative;
    transform: scale(0);
    left: 65px;
    bottom: 249px;
}

#loading.finish .center .round12 img {
    animation: round12 1s 0.2s forwards linear;
}

#loading .center .round11 img {
    position: relative;
    transform: scale(0);
    left: 88px;
    bottom: 246px;
}

#loading.finish .center .round11 img {
    animation: round11 1.5s 0.2s forwards linear;
}

#loading .center .round10 img {
    position: relative;
    transform: scale(0);
    left: 105px;
    bottom: 256px;
}

#loading.finish .center .round10 img {
    animation: round10 1.3s 0.4s forwards linear;
}

#loading .center .round9 img {
    position: relative;
    transform: scale(0);
    left: 106px;
    bottom: 165px;
}

#loading.finish .center .round9 img {
    animation: round9 0.9s 0.8s forwards linear;
}

#loading .center .round8 img {
    position: relative;
    transform: scale(0);
    left: 120px;
    bottom: 210px;
}

#loading.finish .center .round8 img {
    animation: round8 1.5s 0.2s forwards linear;
}

#loading .center .round7 img {
    position: relative;
    transform: scale(0);
    left: 123px;
    bottom: 262px;
}

#loading.finish .center .round7 img {
    animation: round7 0.8s 0.9s forwards linear;
}

#loading .center .round6 img {
    position: relative;
    transform: scale(0);
    left: 127px;
    bottom: 199px;
}

#loading.finish .center .round6 img {
    animation: round6 0.9s 0.8s forwards linear;
}

#loading .center .round5 img {
    position: relative;
    transform: scale(0);
    left: 132px;
    bottom: 224px;
}

#loading.finish .center .round5 img {
    animation: round5 1s 0.7s forwards linear;
}

#loading .center .round4 img {
    position: relative;
    transform: scale(0);
    transform-origin: right bottom;
    left: 132px;
    bottom: 260px;
}

#loading.finish .center .round4 img {
    animation: round4 1.1s 0.3s forwards linear;
}

#loading .center .round3 img {
    position: relative;
    transform: scale(0);
    left: 157px;
    bottom: 112px;
}

#loading.finish .center .round3 img {
    animation: round3 1.4s 0.3s forwards linear;
}

#loading .center .round2 img {
    position: relative;
    transform: scale(0);
    left: 154px;
    bottom: 122px;
}

#loading.finish .center .round2 img {
    animation: round2 1.1s 0.6s forwards linear;
}

#loading .center .round1 img {
    position: relative;
    transform: scale(0);
    left: 185px;
    bottom: 193px;
}

#loading.finish .center .round1 img {
    animation: round1 1.5s 0.2s forwards linear;
}

#loading .center .light div {
    position: relative;
    transform: scale(3);
    left: 5px;
    bottom: 100px;
    height: 130px;
    width: 150px;
    background: url("loading/light.png") no-repeat;
    background-position: 0 0;
}

#loading.finish .center .light div {
    animation: finishLight 0.6s steps(1);
}

#loading .center .front img {
    position: relative;
    left: 33px;
    bottom: 29px;
}

#loading .loadFailed {
    display: none;
    font-size: 25px;
    font-weight: normal;
}

#loading .loadFailed.show {
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    bottom: -150px;
}

.panel {
    transition: background-color.3s;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #00000000;
}

.panel.show {
    display: flex;
    background-color: #00000070;
    animation: showShadow.3s;
}

.panel.close {
    display: flex;
}

.panel .box {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 450px;
    border-radius: 8px;
    background-color: #fff9e9;
    padding-bottom: 10px;
    overflow: auto;
}

.panel.show .box {
    animation: showAlert.4s;
}

.panel.close .box {
    transition: scale.3s, opacity.2s;
    scale: 1.05;
    opacity: 0;
}

.panel .box > .title {
    position: sticky;
    text-align: center;
    display: block;
    background-color: #242321;
    color: white;
    z-index: 1;
    top: 5px;
    margin: 5px;
    height: 40px;
    line-height: 40px;
    border-radius: 6px;
}

.panel .box > .title .closeBtn {
    position: absolute;
    width: 26px;
    height: 26px;
    right: 10px;
    top: 8px;
    cursor: pointer;
}

.panel .box > .title .closeBtn .x {
    position: relative;
    width: 100%;
    height: 100%;
    right: -9px;
    pointer-events: none;
}

.panel .box > .title .closeBtn .x .xLeft,
.panel .box > .title .closeBtn .x .xRight {
    position: absolute;
    margin: auto;
    width: 7px;
    height: 100%;
    border-radius: 2px;
    background-color: white;
    transform: rotate(45deg);
    pointer-events: none;
}

.panel .box > .title .closeBtn .x .xRight {
    margin: auto;
    width: 7px;
    height: 100%;
    background-color: white;
    transform: rotate(-45deg);
}

.panel .box hr {
    position: sticky;
    z-index: 1;
    top: 48px;
    width: 585px;
    margin-top: -2px;
    border-radius: 5px;
    border: 2px solid #242321;
}

#alertPanel {
    z-index: 30;
}

#alertPanel .box {
    height: auto;
    min-height: 150px;
}

#alertPanel .box .title .text {
    margin: 0;
}

#alertPanel .box .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#alertPanel .box .content p {
    text-align: center;
}

#alertPanel .box .content .text {
    font-size: 20px;
}

#alertPanel .box .content .tip {
    color: #00000088;
    font-size: 18px;
    margin-top: 0px;
}

#alertPanel:not(.showBtn) .alertBtns button {
    display: none;
}

#dataPanel {
    z-index: 16;
}

#dataPanel .box {
    position: relative;
    height: 340px;
    width: 550px;
}

#dataPanel .box hr {
    width: 535px;
}

#dataPanel .box .dataContent {
    flex: 1;
    display: flex;
    flex-direction: row;
}

#dataPanel .box .dataContent .userInfo {
    width: 275px;
    border-right: 1px dotted gray;
}

#dataPanel .box .dataContent .userInfo > p {
    padding-left: 20px;
}

#dataPanel .box .dataContent .userInfo .content p {
    margin-top: 0;
}

#dataPanel .box .dataContent .userInfo .content input {
    transition: background-color.2s;
    width: 150px;
    padding: 7px;
    padding-left: 15px;
    border-radius: 50px;
    border: none;
    background-color: #e1dbc9;
}

#dataPanel .box .dataContent .userInfo .content input:not(:focus):hover {
    background-color: #d3cdbb;
}

#dataPanel .box .dataContent .userInfo .content .syncLabel span {
    color: #867010;
}

#dataPanel .box .dataContent .userInfo .content .login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dataPanel .box .dataContent .userInfo .content .login .enterKey {
    text-align: center;
}

#dataPanel .box .dataContent .userInfo .content .login .loginWay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
}

#dataPanel .box:not(.logged) .dataContent .userInfo .content .syncLabel,
#dataPanel .box.logging .dataContent .userInfo .content .login,
#dataPanel .box.logged .dataContent .userInfo .content .login,
#dataPanel .box:not(.waitLogin) .dataContent .userInfo .content .login .waitLogin,
#dataPanel .box:not(.enterKey) .dataContent .userInfo .content .login .enterKey,
#dataPanel .box.waitLogin .dataContent .userInfo .content .login .loginBtn,
#dataPanel .box.enterKey .dataContent .userInfo .content .login .loginBtn,
#dataPanel .box.loginWay .dataContent .userInfo .content .login .loginBtn,
#dataPanel .box:not(.loginWay) .dataContent .userInfo .content .login .loginWay,
#dataPanel .box:not(.logged) .dataContent .userInfo .content .logout {
    display: none
}

#dataPanel .box .dataContent .dataManage {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#dataPanel .box .dataContent .dataManage > p {
    padding-left: 20px;
    padding-bottom: 0;
}

#dataPanel .box .dataContent .userInfo .content,
#dataPanel .box .dataContent .dataManage .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

#dataPanel .box .dataContent .dataManage .content button {
    margin-top: 20px;
    padding: 20px 30px;
    line-height: 0px;
    font-size: 16px;
}

#dataPanel .box .dataContent .dataManage .content span {
    transition: color.2s;
    color: #00000050;
    cursor: pointer;
}

#dataPanel .box .dataContent .dataManage .content span:hover {
    color: cornflowerblue;
}

#dataPanel .box .dataContent .dataManage .content .clearData {
    color: #d20d0d;
}

#dataPanel .box .loginTip {
    transition: color.1s;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #00000000;
}

#dataPanel .box.loginWay .loginTip {
    color: #d44b4bbf;
}

#itemPanel {
    z-index: 17;
}

#itemPanel .box .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#itemPanel .box .content .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#itemPanel .box .content .item preset {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 22%;
    margin-left: 28%;
}

#itemPanel .box .content .item preset img {
    height: 40px;
}

#filterPanel {
    z-index: 15;
}

#filterPanel .box .filterContent {
    flex: 1;
    display: flex;
    flex-direction: row;
}

#filterPanel .box .filterContent .filterClass .content div:hover,
#filterPanel .box .filterContent .rightFilter .filterTypes .content div:hover {
    background-color: #c7c1ad;
    cursor: pointer;
}

#filterPanel .box .filterContent .content div.select {
    background-color: #ffb01e !important;
}

#filterPanel .box .filterContent .filterClass {
    position: relative;
    width: 290px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    border-right: 1px dotted gray;
}

#filterPanel .box .filterContent .filterClass .title {
    display: flex;
    flex-direction: row;
}

#filterPanel .box .filterContent .filterClass .title p {
    margin: 0 0 0 20px;
}

#filterPanel .box .filterContent .filterClass .title div {
    position: absolute;
    right: 20px;
    display: flex;
    flex-direction: row;
}

#filterPanel .box .filterContent .filterClass .title div input[type=checkbox],
.petClass .otherFunc .hideFinish input[type=checkbox],
.petClass .otherFunc .showDev input[type=checkbox] {
    transition: background-color.1s;
    appearance: none;
    position: relative;
    margin: 0;
    width: 45px;
    height: 23px;
    border-radius: 30px;
    background-color: #242321;
    margin-left: 5px;
    cursor: pointer;
}

#filterPanel .box .filterContent .filterClass .title div input[type=checkbox]:checked,
.petClass .otherFunc .hideFinish input[type=checkbox]:checked,
.petClass .otherFunc .showDev input[type=checkbox]:checked {
    background-color: #09b309;
}

#filterPanel .box .filterContent .filterClass .title div input[type=checkbox]::after,
.petClass .otherFunc .hideFinish input[type=checkbox]::after,
.petClass .otherFunc .showDev input[type=checkbox]::after {
    transition: left.1s, background-color.2s;
    content: "";
    height: 23px;
    width: 23px;
    background-color: #fff9e9;
    position: absolute;
    border-radius: 30px;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 3px gray;
}

#filterPanel .box .filterContent .filterClass .title div input[type=checkbox]:hover::after,
.petClass .otherFunc .hideFinish input[type=checkbox]:hover::after,
.petClass .otherFunc .showDev input[type=checkbox]:hover::after {
    background-color: #eae3d0;
}

#filterPanel .box .filterContent .filterClass .title div input[type=checkbox]:checked::after,
.petClass .otherFunc .hideFinish input[type=checkbox]:checked::after,
.petClass .otherFunc .showDev input[type=checkbox]:checked::after {
    left: 22px;
}

#filterPanel .box .filterContent .filterClass .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

#filterPanel .box .filterContent .filterClass .content div {
    transition: background-color.1s;
    background-color: #e1dbc9;
    margin: 0 20px;
    height: 27px;
    line-height: 27px;
    border-radius: 30px;
}

#filterPanel .box .filterContent .rightFilter {
    display: flex;
    flex-direction: column;
}

#filterPanel .box .filterContent .rightFilter p {
    margin: 0 0 0 5px;
}

#filterPanel .box .filterContent .rightFilter .filterTypes {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    border-bottom: 1px dotted gray;
    padding-left: 20px;
}

#filterPanel .box .filterContent .rightFilter .filterTypes .content {
    flex: 1;
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
}

#filterPanel .box .filterContent .rightFilter .filterTypes .content div {
    transition: background-color.1s;
    background-color: #e1dbc9;
    display: flex;
    justify-content: flex-start;
    margin: 5px 5px;
    height: 27px;
    width: 70px;
    border-radius: 30px;
}

#filterPanel .box .filterContent .rightFilter .filterTypes .content div img {
    height: 27px;
    pointer-events: none;
}

#filterPanel .box .filterContent .rightFilter .filterTypes .content div span {
    display: inline-block;
    position: relative;
    height: 27px;
    line-height: 27px;
    pointer-events: none;
}

#filterPanel .box .filterContent .rightFilter .filterBook {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

#filterPanel .box .filterContent .rightFilter .filterBook .bookName {
    display: inline-block;
    width: 185px;
    text-align: center;
}

#filterPanel .box .filterContent .rightFilter .filterBook .content {
    position: relative;
    padding-top: 5px;
    text-align: center;
}

#filterPanel .box .filterContent .rightFilter .filterBook .content > img {
    transition: height.5s, margin-top.5s, left.5s;
    position: absolute;
    left: 70px;
    margin-top: 5px;
    height: 70px;
    transform: rotate(-5deg);
}

#filterPanel .box .filterContent .rightFilter .filterBook .content img:hover,
#filterPanel .box .filterContent .rightFilter .filterBook .content:has(.selectBook.show) > img  {
    left: 63px;
    height: 80px;
    margin-top: 0px;
    animation: bookRotate 1.5s ease-in-out infinite;
    cursor: pointer;
}

#filterPanel .box .filterContent .rightFilter .filterBook .content .selectBook {
    transition: top.3s, left.4s, height.4s, width.25s;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #242321;
    overflow: hidden;
    border-radius: 30px;
    top: 40px;
    left: 150px;
    width: 0px;
    height: 0px;
}

#filterPanel .box .filterContent .rightFilter .filterBook .content .selectBook.show {
    transition: top.25s, left.35s, height.35s, width.35s;
    top: -170px;
    left: -260px;
    width: 510px;
    height: 140px;
}

#filterPanel .box .filterContent .rightFilter .filterBook .content .selectBook .book.select {
    background-color: transparent !important;
}

#filterPanel .box .filterContent .rightFilter .filterBook .content .selectBook .book img {
    margin: 0 10px;
    transform: rotate(-5deg);
    height: 70px;
    pointer-events: hover;
}

#filterPanel .box .filterContent .rightFilter .filterBook .content .selectBook .book.select img {
    animation: bookRotate 1.5s ease-in-out infinite;
}

#filterPanel .box .filterContent .rightFilter .filterBook .content .selectBook .book p {
    color: gray;
}

#filterPanel .box .filterContent .rightFilter .filterBook .content .selectBook .book.select p {
    color: #fff9e9;
}

#alertPanel .alertBtns,
#filterPanel .alertBtns {
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    margin-top: 20px;
}

#alertPanel .alertBtns button,
#filterPanel .alertBtns button {
    transition: background-color.1s, scale.3s, filter.3s;
    background-color: #fff8e6;
    border: none;
    border-radius: 18px;
    padding: 5px;
    box-shadow: 0 1px 2px black;
    font-size: 17px;
    width: 120px;
    height: 40px;
    scale: 1.1;
    filter: opacity(0);
}

#alertPanel.show.showBtn .alertBtns button,
#filterPanel.show .alertBtns button {
    animation: showAlert.4s;
    scale: 1;
    filter: opacity(1);
}

#filterPanel .alertBtns button:hover {
    background-color: #e5decd;
}

.sideBar {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 6;
    height: 100%;
    border-right: 5px solid #918973;
    background: url("handbook/texture/SideBar.png?1") right center no-repeat;
    background-size: cover;
}

.sideBar .classProgress {
    text-align: center;
    top: -5px;
    margin-bottom: 0;
    margin-bottom: 10px;
}

.sideBar .search {
    transition: background-color.2s;
    position: relative;
    z-index: 10;
    width: 170px;
    padding: 9px;
    padding-left: 15px;
    margin: 0px 0 5px 30px;
    border-radius: 50px;
    border: none;
    background-color: #e1dbc9;
}

.sideBar .search:not(:focus):hover {
    background-color: #d3cdbb;
}

.sideBar .searchShadow {
    transition: background-color.3s;
    position: fixed;
    z-index: 9;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.sideBar:has(.search:focus) .searchShadow {
    background-color: #00000070;
    pointer-events: auto;
}

.sideBar .petList {
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1;
    width: 260px;
    padding-top: 10px;
    margin-right: 2px;
}

body.rotate .sideBar .petList {
    overflow-x: auto;
    overflow-y: auto;
}

.sideBar .petList .petBox {
    transition: height.3s, padding.3s, margin.3s, opacity.3s;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    padding: 3px 0;
    padding-left: 45px;
    left: -4px;
    height: 60px;
    width: 193px;
    cursor: pointer;
    opacity: 1;
}

.sideBar .petList .petBox.hidden {
    height: 0;
    margin: 0;
    padding: 0;
    padding-left: 45px;
    opacity: 0;
    overflow: hidden;
}

:not(:has(.petClass .otherFunc .showDev input[type=checkbox]:checked)) .sideBar .petList .petBox.dev {
    height: 0;
    margin: 0;
    padding: 0;
    padding-left: 45px;
    opacity: 0;
    overflow: hidden;
}



.sideBar .petList .petBox .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sideBar .petList .petBox .info p {
    white-space: nowrap;
}

.sideBar .petList .petBox .info .id {
    margin-bottom: -3px;
    letter-spacing: 1px;
    font-size: 18px;
}

.sideBar .petList .petBox .info .name {
    margin-top: -3px;
}

.sideBar .petList .petBox .avatarBox {
    position: absolute;
    margin-left: 144px;
    margin-top: 10px;
    height: 40px;
    width: 40px;
    background-color: #343434;
    border-radius: 50px;
}

.sideBar .petList .petBox .avatarBox .avatar {
    position: relative;
    height: 65px;
    left: -12px;
    top: -14px;
}

.sideBar .petList .petBox .progress {
    position: absolute;
    margin-top: 20px;
    margin-left: 100px;
    white-space: nowrap;
}

.sideBar .petList .petBox .progress.finish {
    color: #bf7910;
}

.sideBar .petList .petBox .selectBG {
    background: url("handbook/texture/select.png") center no-repeat;
    background-size: 98%;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 0;
    transform-origin: left;
    transform: scaleX(0);
}

.sideBar .petList .petBox.select .selectBG {
    transform: scaleX(1);
    animation: selectPet.2s;
}

.sideBar .otherFunc,
.petClass .otherFunc {
    transition: margin.3s;
    display: flex;
    flex-direction: row;
    margin: 10px 0 30px 35px;
}

.sideBar .otherFunc:has(.filterBtn.hasFilter) {
    margin: 10px 0 10px 35px;
}

.sideBar .otherFunc .filterBtn.hasFilter {
    background-color: #f8cb43;
}

.sideBar .otherFunc button {
    margin-right: 10px;
}

.sideBar .otherFunc .filterBtn {
    font-family: "FontAwesome";
    width: 30px;
    line-height: 23px;
    font-size: 18px;
    padding: 5px;
    transform: scaleX(-1);
}

.sideBar .otherFunc .fullscreen {
    padding: 5px 10px;
}

.sideBar .filterPetsCount {
    transition: height.3s, margin.3s;
    text-align: center;
    overflow: hidden;
    height: 0px;
}

.sideBar:has(.otherFunc .filterBtn.hasFilter) .filterPetsCount {
    margin-bottom: 20px;
    height: 20px;
}

.pointProgress {
    transition: background-color.2s;
    position: absolute;
    display: flex;
    align-items: center;
    background-color: #d5cebb;
    top: -4px;
    right: 40px;
    padding: 0 10px 0 5px;
    margin: 10px 0;
    border-radius: 50px;
    cursor: pointer;
}

.pointProgress:hover {
    background-color: #c4beac;
}

.pointProgress img {
    height: 30px;
}

.petClass {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 30px 20px 0px 10px;
}

.petClass .petInfo {
    display: flex;
    flex-direction: row;
}

.petClass .petInfo .checkAll {
    transition: background-color.1s, opacity.2s;
    margin: 10px;
    margin-right: 0;
    padding: 10px;
    width: 120px;
    height: 40px;
    background-color: #f8cb43;
    border: none;
    border-radius: 20px;
    font-size: 17px;
    line-height: 17px;
    box-shadow: 0 0 3px rgb(80, 63, 37);
}

.petClass .petInfo .checkAll:hover {
    background-color: #deb53d;
}

.petClass.switch .petInfo .checkAll {
    opacity: 0;
}

.petClass .petInfo .type {
    transition: opacity.2s;
    background-color: #d5cebb;
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    margin-right: 0;
    height: 40px;
    width: 100px;
    border-radius: 30px;
}

.petClass.switch .petInfo .type {
    opacity: 0;
}

.petClass .petInfo .type img {
    height: 40px;
    pointer-events: none;
}

.petClass .petInfo .type > span {
    display: inline-block;
    position: relative;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    pointer-events: none;
}

.petClass .petInfo .type.className {
    width: auto;
    position: absolute;
    right: 35px;
    padding: 0 20px;
    padding-right: 45px;
}

.petClass .petInfo .type.className:has(.moreInfo[class*="noInfo"]) {
    padding-right: 20px;
}

.petClass .petInfo .type.className > span:first-child {
    width: 100%;
    text-align: center;
}

.petClass .petInfo .type.className .moreInfo {
    transition: background-color.3s;
    font-family: "FontAwesome";
    position: absolute;
    z-index: 5;
    text-align: center;
    font-size: 14px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    top: 5px;
    right: 5px;
    background-color: #fff8e6;
    border-radius: 50px;
    box-shadow: 0 1px 2px black;
    cursor: pointer;
}

.petClass .petInfo .type.className .moreInfo:hover {
    background-color: #e5decd;
}

.petClass .petInfo .type.className .moreInfo.noInfo {
    display: none;
}

.petClass .petInfo .type.className .infoPanel {
    transition: height.25s, width.2s, right.2s ease-in, top.3s, box-shadow.3s, padding-top.3s;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e1dbc9;
    z-index: 4;
    max-height: 370px;
    white-space: nowrap;
    width: 20px;
    right: 10px;
    top: 10px;
    padding-top: 0px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 3px gray;
}

.petClass .petInfo .type.className .infoPanel:not(.show) {
    height: 20px !important;
}

.petClass .petInfo .type.className .infoPanel.show {
    transition: height.2s, width.35s, right.3s, top.2s ease-out, box-shadow.3s, padding-top.3s;
    width: 140px;
    right: -5px;
    top: 50px;
    padding-top: 30px;
    box-shadow: 0 0 8px black;
}

.petClass .petInfo .type.className:has(.moreInfo[class*="noInfo"]) .infoPanel {
    display: none;
}

.petClass .petInfo .type.className .infoPanel .shadow {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 30px;
    background-color: #e1dbc9;
    box-shadow: 0 0 20px 20px #e1dbc9;
    z-index: 3;
}

.petClass .petInfo .type.className .infoPanel .infoContent {
    display: flex;
    position: absolute;
    padding-top: 40px;
    top: 0;
    max-height: 350px;
    width: 140px;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.petClass .petInfo .type.className .infoPanel .infoContent .fruitTitle {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 16px;
}

.petClass .petInfo .type.className .infoPanel .infoContent div {
    transition: background-color.2s, box-shadow.2s;
    cursor: pointer;
    background-size: contain;
    flex-shrink: 0;
}

.petClass .petInfo .type.className .infoPanel .infoContent div:hover {
    background-color: #c5c0b0;
}

.petClass .petInfo .type.className .infoPanel .infoContent .diff,
.petClass .petInfo .type.className .infoPanel .infoContent .yise {
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    box-shadow: 0 0 0 25px transparent;
    border-radius: 3px;
}

.petClass .petInfo .type.className .infoPanel .infoContent .diff:hover,
.petClass .petInfo .type.className .infoPanel .infoContent .yise:hover {
    box-shadow:0 0 0 15px #c5c0b0;
}

.petClass .petInfo .type.className .infoPanel .infoContent .diff {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(handbook/texture/diffOff.png);
}

.petClass .petInfo .type.className .infoPanel .infoContent .diff.show:hover:has(span:hover) {
    box-shadow: 0 0 0 25px transparent;
    background-color: transparent;
}

.petClass .petInfo .type.className .infoPanel .infoContent .diff.show {
    background-image: url(handbook/texture/diffOn.png);
}

.petClass .petInfo .type.className .infoPanel .infoContent .diff .left,
.petClass .petInfo .type.className .infoPanel .infoContent .diff .right {
    transition: all.3s;
    font-family: "FontAwesome";
    flex: 1;
    display: block;
    position: absolute;
    border-radius: 40px;
    font-size: 40px;
    text-align: center;
    color: #918973;
    line-height: 0px;
    opacity: 0;
    scale: 0;
    height: 0;
    width: 0;
    pointer-events: none;
}

.petClass .petInfo .type.className .infoPanel .infoContent .diff.show.area .left,
.petClass .petInfo .type.className .infoPanel .infoContent .diff.show.area .right {
    line-height: 40px;
    opacity: 1;
    scale: 1;
    height: 40px;
    width: 40px;
    pointer-events: all;
}

.petClass .petInfo .type.className .infoPanel .infoContent .diff .left {
    left: 20px;
}

.petClass .petInfo .type.className .infoPanel .infoContent .diff.show.area .left {
    left: -40px;
}

.petClass .petInfo .type.className .infoPanel .infoContent .diff .right {
    right: 20px;
}

.petClass .petInfo .type.className .infoPanel .infoContent .diff.show.area .right {
    right: -40px;
}

.petClass .petInfo .type.className .infoPanel .infoContent .diff.show .left:hover,
.petClass .petInfo .type.className .infoPanel .infoContent .diff.show .right:hover {
    background-color: #00000020;
    color: #543a23;
}

.petClass .petInfo .type.className .infoPanel .infoContent .diffName {
    transition: all.3s;
    margin-bottom: 0;
    overflow: hidden;
    flex-shrink: 0;
    height: 0;
    transform: scale(0);
    color: #918973;
}

.petClass .petInfo .type.className .infoPanel .infoContent .diffName.show {
    height: 22.5px;
    transform: scale(1);
}

.petClass .petInfo .type.className .infoPanel .infoContent .diffInfo {
    transition: all.3s;
    padding: 0px;
    height: 0px;
    scale: 0;
    opacity: 0;
}

.petClass .petInfo  .type.className .infoPanel .infoContent .diffInfo.show {
    padding: 5px 10px;
    height: 30px;
    scale: 1;
    opacity: 1;
}

.petClass .petInfo .type.className .infoPanel .infoContent .yise {
    background-image: url(handbook/texture/yiseOff.png);
}

.petClass .petInfo .type.className .infoPanel .infoContent .yise.show {
    background-image: url(handbook/texture/yiseOn.png);
}

.petClass .petInfo .type.className .infoPanel .infoContent .fruit {
    height: 80px;
    width: 80px;
    border-radius: 10px;
    box-shadow:0 0 0 10px transparent;
}

.petClass .petInfo .type.className .infoPanel .infoContent .fruit:hover {
    box-shadow:0 0 0 0px #c5c0b0;
}

.petClass .classBox {
    transition: opacity.2s;
    display: flex;
    position: relative;
    flex-direction: column;
    opacity: 1;
    flex: 1;
    min-height: 0;
}

.petClass.switch .classBox {
    opacity: 0;
}

.petClass .classBox .backBG {
    transition: opacity.5s, left.4s;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.6;
    overflow: hidden;
}

.petClass .classBox.preview .backBG {
    opacity: 1;
    left: -10%;
    pointer-events: none;
}

.petClass .classBox .backBG .backImg {
    position: relative;
    height: 70%;
    width: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.petClass .classBox .backBG .backImg.reverse {
    transform: scaleX(-1);
}

.petClass .classBox .classContent {
    transition: opacity.5s;
    height: 100%;
    overflow: auto;
    opacity: 1;
}

.petClass .classBox.preview .classContent {
    opacity: 0;
}

.petClass .classBox .classContent .class {
    transition: filter.15s, height.3s, margin.3s, opacity.3s, transform.3s;
    display: block;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 10px 10px 0 10px;
    height: 54px;
    border-radius: 20px;
    background-color: #F6EDCFDD;
    box-shadow: 0 0 6px #3b361e;
    cursor: pointer;
    overflow: hidden;
}

.petClass:has(.otherFunc .hideFinish input[type=checkbox]:checked) .classBox .classContent .class:has(input[type=checkbox]:checked) {
    margin: 0 10px;
    height: 0;
    opacity: 0;
    transform: scale(0.8);
}

.petClass .classBox .classContent .class:has(input[type=checkbox]:checked) {
    filter: brightness(0.7);
}

.petClass .classBox .classContent .class .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.petClass .classBox .classContent .class .content .items {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 60px;
}

.petClass .classBox .classContent .class .content .items .item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background: url("handbook/texture/itemBack.png") center no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin-right: 10px;
}

.petClass .classBox .classContent .class .content .items .item img {
    height: 90%;
}

.petClass .classBox .classContent .class .content .items .item .count {
    position: absolute;
    display: flex;
    justify-content: end;
    width: 100%;
    background-color: #1F1F1F;
    background-size: cover;
    bottom: 0;
    border-radius: 0 0 10px 10px;
}

.petClass .classBox .classContent .class .content .items .item .count span {
    color: #C2C0B3;
    font-size: 10px;
    margin: 0 6px 1px 0;
}

.petClass .classBox .classContent .class input[type=checkbox] {
    appearance: none;
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 30px;
    top: 11px;
    right: 25px;
    background-color: white;
    pointer-events: none;
}

.petClass .classBox .classContent .class input[type=checkbox].unCheck {
    animation: unFinish.3s;
}

.petClass .classBox .classContent .class input[type=checkbox]:checked {
    height: 75px;
    width: 75px;
    top: -13px;
    right: 4px;
    background: url("handbook/texture/finish.png") center no-repeat;
    background-size: cover;
}

.petClass .classBox .classContent .class input[type=checkbox].check {
    animation: showFinish.3s;
}

.petClass .otherFunc {
    padding-top: 7px;
}

.petClass .otherFunc > div {
    margin-right: 20px;
}

.petClass .otherFunc p {
    margin: 0;
}

.petClass .otherFunc .hideFinish,
.petClass .otherFunc .showDev {
    display: flex;
    flex-direction: row;
}

.petClass .otherFunc .showDev {
    position: absolute;
    right: 20px;
}

.petClass .otherFunc .noNetwork {
    padding: 0 5px;
    border-radius: 20px;
    color: #f0dada;
    background-color: #bc2b2b;
    box-shadow: 0 0 0 5px #bc2b2b;
}

@keyframes loaded1 {
    0% {
        display: flex;
        background-color: #1F1F2DFF;
        backdrop-filter: blur(5px);
    }
    25% {
        display: flex;
        background-color: #1F1F2DFF;
        backdrop-filter: blur(5px);
    }
    50% {
        display: flex;
        background-color: #1F1F2D00;
        backdrop-filter: blur(0px);
    }
    99% {
        display: flex;
        background-color: #1F1F2D00;
        backdrop-filter: blur(0px);
    }
    100% {
        display: none;
        background-color: #1F1F2D00;
    }
}

@keyframes loaded2 {
    0% {
        filter: opacity(1);
    }
    25% {
        filter: opacity(1);
    }
    50% {
        filter: opacity(0);
    }
    100% {
        filter: opacity(0);
    }
}

@keyframes finishProgress {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes finishLeaf {
    0% {
        transform: scale(0) rotate(-10deg);
    }
    50% {
        transform: scale(1.45) rotate(-5deg);
    }
    100% {
        transform: scale(1.45) rotate(0deg);
    }
}

@keyframes finishLight {
    0% {
        background-position: 0 0;
    }
    5% {
        background-position: -150px 0;
    }
    10% {
        background-position: -300px 0;
    }
    15% {
        background-position: -450px 0;
    }
    20% {
        background-position: 0 -130px;
    }
    25% {
        background-position: -150px -130px;
    }
    30% {
        background-position: -300px -130px;
    }
    35% {
        background-position: -450px -130px;
    }
    40% {
        background-position: 0 -260px;
    }
    45% {
        background-position: -150px -260px;
    }
    50% {
        background-position: -300px -260px;
    }
    55% {
        background-position: -450px -260px;
    }
    60% {
        background-position: 0 -390px;
    }
    65% {
        background-position: -150px -390px;
    }
    70% {
        background-position: -300px -390px;
    }
    75% {
        background-position: -450px -390px;
    }
    80% {
        background-position: 0 -520px;
    }
    85% {
        background-position: -150px -520px;
    }
    90% {
        background-position: -300px -520px;
    }
    95% {
        background-position: -450px -520px;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes flyLeaf8 {
    0% {
        transform: scale(0) rotate(-50deg);
        left: -182px;
        bottom: 210px;
    }
    25% {
        transform: scale(1.5) rotate(-36.3deg);
        left: -184.5px;
        bottom: 215px;
    }
    50% {
        transform: scale(1.5) rotate(-22.5deg);
        left: -187px;
        bottom: 226px;
    }
    75% {
        transform: scale(1.5) rotate(-8.7deg);
        left: -190.5px;
        bottom: 224.5px;
    }
    100% {
        transform: scale(0) rotate(5deg);
        left: -196px;
        bottom: 223px;
    }
}

@keyframes flyLeaf7 {
    0% {
        transform: scale(0) rotate(-60deg);
        left: -123px;
        bottom: 199px;
    }
    25% {
        transform: scale(1.4) rotate(-62.5deg);
        left: -128.5px;
        bottom: 205.5px;
    }
    50% {
        transform: scale(1.4) rotate(-65deg);
        left: -134px;
        bottom: 212px;
    }
    75% {
        transform: scale(1.4) rotate(-67.5deg);
        left: -144.5px;
        bottom: 210.5px;
    }
    100% {
        transform: scale(0) rotate(-70deg);
        left: -155px;
        bottom: 209px;
    }
}

@keyframes flyLeaf6 {
    0% {
        transform: scale(0) rotate(-50deg);
        left: -113px;
        bottom: 209px;
    }
    15% {
        transform: scale(1.2) rotate(-55.3deg);
        left: -129.5px;
        bottom: 212.6px;
    }
    70% {
        transform: scale(1.2) rotate(-80deg);
        left: -168px;
        bottom: 221px;
    }
    85% {
        transform: scale(1.2) rotate(-75deg);
        left: -170px;
        bottom: 226px;
    }
    100% {
        transform: scale(0) rotate(-70deg);
        left: -172px;
        bottom: 231px;
    }
}

@keyframes flyLeaf5 {
    0% {
        transform: scale(0) rotate(-63deg);
        left: -124px;
        bottom: 256px;
    }
    25% {
        transform: scale(1) rotate(-65.7deg);
        left: -130.5px;
        bottom: 258px;
    }
    50% {
        transform: scale(1.4) rotate(-68.5deg);
        left: -137px;
        bottom: 260px;
    }
    75% {
        transform: scale(1.4) rotate(-71.2deg);
        left: -143.5px;
        bottom: 258px;
    }
    100% {
        transform: scale(0) rotate(-74deg);
        left: -150px;
        bottom: 256px;
    }
}

@keyframes flyLeaf4 {
    0% {
        transform: scale(0) rotate(-57deg);
        left: -119px;
        bottom: 307px;
    }
    33% {
        transform: scale(2.2) rotate(-53deg);
        left: -124px;
        bottom: 312px;
    }
    66% {
        transform: scale(2.2) rotate(-42deg);
        left: -140px;
        bottom: 327px;
    }
    100% {
        transform: scale(0) rotate(-38deg);
        left: -146px;
        bottom: 339px;
    }
}

@keyframes flyLeaf3 {
    0% {
        transform: scale(0) rotate(30deg);
        left: -114px;
        bottom: 352px;
    }
    33% {
        transform: scale(1.5) rotate(10deg);
        left: -121px;
        bottom: 355px;
    }
    66% {
        transform: scale(1.5) rotate(-35deg);
        left: -140px;
        bottom: 361px;
    }
    100% {
        transform: scale(0) rotate(-60deg);
        left: -153px;
        bottom: 367px;
    }
}

@keyframes flyLeaf2 {
    0% {
        transform: scale(0) rotate(-55deg);
        left: -26px;
        bottom: 366px;
    }
    25% {
        transform: scale(1.2) rotate(-62.5deg);
        left: -30px;
        bottom: 369px;
    }
    50% {
        transform: scale(1.2) rotate(-70deg);
        left: -34px;
        bottom: 372px;
    }
    75% {
        transform: scale(1.2) rotate(-77.5deg);
        left: -43px;
        bottom: 369.5px;
    }
    100% {
        transform: scale(0) rotate(-85deg);
        left: -52px;
        bottom: 367px;
    }
}

@keyframes flyLeaf1 {
    0% {
        transform: scale(0) rotate(-60deg);
        left: 67px;
        bottom: 329px;
    }
    25% {
        transform: scale(1.4) rotate(-62.5deg);
        left: 64.5px;
        bottom: 335px;
    }
    50% {
        transform: scale(1.4) rotate(-65deg);
        left: 62px;
        bottom: 341px;
    }
    75% {
        transform: scale(1.4) rotate(-67.5deg);
        left: 57px;
        bottom: 340px;
    }
    100% {
        transform: scale(0) rotate(-70deg);
        left: 52px;
        bottom: 339px;
    }
}

@keyframes round19 {
    0% {
        transform: scale(0);
        left: -65px;
        bottom: 142px;
    }
    50% {
        transform: scale(0.8);
        left: -77px;
        bottom: 145px;
    }
    100% {
        transform: scale(0);
        left: -89px;
        bottom: 148px;
    }
}

@keyframes round18 {
    0% {
        transform: scale(0) rotate(0deg);
    }
    50% {
        transform: scale(0.3) rotate(-90deg);
    }
    100% {
        transform: scale(0) rotate(-230deg);
    }
}

@keyframes round17 {
    0% {
        transform: scale(0);
        left: -28px;
        bottom: 197px;
    }
    50% {
        transform: scale(0.3);
        left: -29.5px;
        bottom: 199.5px;
    }
    100% {
        transform: scale(0);
        left: -38px;
        bottom: 202px;
    }
}

@keyframes round16 {
    0% {
        transform: scale(0);
        left: -18px;
        bottom: 121px;
    }
    50% {
        transform: scale(0.4);
        left: -29.5px;
        bottom: 116px;
    }
    100% {
        transform: scale(0);
        left: -41px;
        bottom: 111px;
    }
}

@keyframes round15 {
    0% {
        transform: scale(0);
        left: -2px;
    }
    50% {
        transform: scale(0.2);
        left: -6px;
    }
    100% {
        transform: scale(0);
        left: -10px;
    }
}

@keyframes round14 {
    0% {
        transform: scale(0);
        left: 4px;
        bottom: 147px;
    }
    50% {
        transform: scale(0.9);
        left: -8px;
        bottom: 145px;
    }
    100% {
        transform: scale(0);
        left: -20px;
        bottom: 143px;
    }
}

@keyframes round13 {
    0% {
        transform: scale(0);
        left: 41px;
        bottom: 171px;
    }
    50% {
        transform: scale(0.2);
        left: 30.5px;
        bottom: 174.5px;
    }
    100% {
        transform: scale(0);
        left: 20px;
        bottom: 178px;
    }
}

@keyframes round12 {
    0% {
        transform: scale(0);
        left: 68px;
        bottom: 240px;
    }
    50% {
        transform: scale(0.4);
        left: 63.5px;
        bottom: 238.5px;
    }
    100% {
        transform: scale(0);
        left: 59px;
        bottom: 237px;
    }
}

@keyframes round11 {
    0% {
        transform: scale(0);
        left: 88px;
        bottom: 246px;
    }
    50% {
        transform: scale(0.7);
        left: 74px;
        bottom: 248px;
    }
    100% {
        transform: scale(0);
        left: 60px;
        bottom: 250px;
    }
}

@keyframes round10 {
    0% {
        transform: scale(0);
        left: 105px;
        bottom: 256px;
    }
    50% {
        transform: scale(0.3);
        left: 96px;
        bottom: 258.5px;
    }
    100% {
        transform: scale(0);
        left: 87px;
        bottom: 261px;
    }
}

@keyframes round9 {
    0% {
        transform: scale(0);
        left: 106px;
        bottom: 165px;
    }
    50% {
        transform: scale(0.9);
        left: 99.5px;
        bottom: 168.5px;
    }
    100% {
        transform: scale(0);
        left: 93px;
        bottom: 172px;
    }
}

@keyframes round8 {
    0% {
        transform: scale(0);
        left: 120px;
        bottom: 210px;
    }
    50% {
        transform: scale(0.4);
        left: 115px;
        bottom: 212.5px;
    }
    100% {
        transform: scale(0);
        left: 110px;
        bottom: 215px;
    }
}

@keyframes round7 {
    0% {
        transform: scale(0);
        left: 123px;
        bottom: 262px;
    }
    50% {
        transform: scale(0.8);
        left: 118px;
        bottom: 264.5px;
    }
    100% {
        transform: scale(0);
        left: 113px;
        bottom: 267px;
    }
}

@keyframes round6 {
    0% {
        transform: scale(0);
        left: 127px;
        bottom: 199px;
    }
    50% {
        transform: scale(0.5);
        left: 118.5px;
        bottom: 200.5px;
    }
    100% {
        transform: scale(0);
        left: 110px;
        bottom: 202px;
    }
}

@keyframes round5 {
    0% {
        transform: scale(0);
        left: 132px;
        bottom: 224px;
    }
    50% {
        transform: scale(0.8);
        left: 124.5px;
        bottom: 219px;
    }
    100% {
        transform: scale(0);
        left: 117px;
        bottom: 214px;
    }
}

@keyframes round4 {
    0% {
        transform: scale(0);
        left: 132px;
    }
    50% {
        transform: scale(0.55);
        left: 132px;
    }
    100% {
        transform: scale(0);
        left: 129px;
    }
}

@keyframes round3 {
    0% {
        transform: scale(0);
        left: 157px;
        bottom: 112px;
    }
    50% {
        transform: scale(0.2);
        left: 139px;
        bottom: 105px;
    }
    100% {
        transform: scale(0);
        left: 121px;
        bottom: 98px;
    }
}

@keyframes round2 {
    0% {
        transform: scale(0);
        left: 154px;
        bottom: 122px;
    }
    50% {
        transform: scale(0.8);
        left: 144px;
        bottom: 119.5px;
    }
    100% {
        transform: scale(0);
        left: 134px;
        bottom: 115px;
    }
}

@keyframes round1 {
    0% {
        transform: scale(0);
        left: 185px;
        bottom: 193px;
    }
    50% {
        transform: scale(0.5);
        left: 174px;
        bottom: 199.5px;
    }
    100% {
        transform: scale(0);
        left: 163px;
        bottom: 206px;
    }
}

@keyframes showShadow {
    0% {
        background-color: #00000000;
    }
    100% {
        background-color: #00000070;
    }
}

@keyframes showAlert {
    0% {
        transform: scaleX(0) scaleY(0);
    }
    30% {
        transform: scaleX(0.97) scaleY(1.03);
    }
    60% {
        transform: scaleX(1.02) scaleY(0.98);
    }
    100% {
        transform: scaleX(1) scaleY(1);
    }
}

@keyframes bookRotate {
    0% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}

@keyframes selectPet {
    0% {
        transform: scaleX(0.2) scaleY(1.05);
    }
    20% {
        transform: scaleX(0.2) scaleY(1.05);
    }
    70% {
        transform: scaleX(1.07) scaleY(0.95);
    }
    100% {
        transform: scaleX(1) scaleY(1);
    }
}

@keyframes showFinish {
    0% {
        background: none;
        background-color: white;
        width: 28px;
        height: 28px;
        top: 11px;
        right: 25px;
        opacity: 1;
    }
    50% {
        background: none;
        background-color: white;
        width: 28px;
        height: 28px;
        top: 40px;
        right: 25px;
        opacity: 0;
    }
    51% {
        top: -20px;
        right: 25px;
        background: url("handbook/texture/finish.png") center no-repeat;
        background-size: cover;
        opacity: 0;
    }
    100% {
        height: 75px;
        width: 75px;
        top: -13px;
        right: 4px;
        background: url("handbook/texture/finish.png") center no-repeat;
        background-size: cover;
        opacity: 1;
    }
}

@keyframes unFinish {
    0% {
        height: 75px;
        width: 75px;
        top: -13px;
        right: 4px;
        background: url("handbook/texture/finish.png") center no-repeat;
        background-size: cover;
        opacity: 1;
    }
    50% {
        background: none;
        background-color: white;
        width: 28px;
        height: 28px;
        top: -20px;
        right: 25px;
        opacity: 0;
    }
    51% {
        background: none;
        background-color: white;
        width: 28px;
        height: 28px;
        top: 40px;
        right: 25px;
        opacity: 0;
    }
    100% {
        background: none;
        background-color: white;
        width: 28px;
        height: 28px;
        top: 11px;
        right: 25px;
        opacity: 1;
    }
}

@keyframes showInfoPanel {
    0% {
        width: 0;
        height: 0;
        right: 10px;
        top: 10px;
        transform: rotate(15deg);
        transform-origin: top right;
    }
    70% {
        width: 140px;
        height: 330px;
        right: -5px;
        top: -5px;
        transform-origin: top right;
    }
    100% {
        width: 120px;
        height: 300px;
        transform-origin: top right;
    }
}